In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('homeprices.csv')
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [8]:
area = df[['area']]
area

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [10]:
price = df.price
price

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [11]:
reg = linear_model.LinearRegression()
reg.fit(area,price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
reg.coef_

array([135.78767123])

reg.intercept_

In [13]:
reg.intercept_

180616.43835616432

In [18]:
reg.predict([[3000]])

array([587979.45205479])

In [20]:
#New data to Predict